name: CI


on:
  push:
    branches:
      - main
  pull_request:

env:
  CI: true
  SKIP_SIMPLE_GIT_HOOKS: 1

jobs:
  version:
    timeout-minutes: 15
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code repository
        uses: actions/checkout@v6

      - name: Setup pnpm
        uses: pnpm/action-setup@v4

      - name: Setup node.js
        uses: actions/setup-node@v6
        with:
          node-version: latest
          cache: 'pnpm'
      
      - name: Install dependencies and build
        run: pnpm run setup
      
      - name: Test
        run: pnpm run test

      - name: Test changeset
        run: npx changeset version
      
